<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - My ASP.NET MVC Application</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    @*<p class="site-title">@Html.ActionLink("Trade If OK", "Index", "Home")</p>*@
                </div>
                <div class="float-left">
                    <section id="login">
                        @*@Html.Partial("_LoginPartial")*@
                    </section>
                    <nav>
                        <ul id="menu">
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("Daily Deals", "", "")</li>
                            <li><a href="mailto:contactus@tradeifok.com">Contact Us</a>@*@Html.ActionLink("Contact Us", "Contact", "Home")*@</li>
                        </ul>
                    </nav>
                </div>
                <div class="float-right">
                    <input type="search" name="search-mini" id="search-mini"  data-mini="true" class="textbox" 
                           onfocus="if (this.value=='Search Here...') this.value = '';" value="Search Here..." />
                </div>
            </div>
            <div>&nbsp;</div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-right">
                    <h4><p><strong>Have a question for us?</strong></p></h4>
                    <div><a href="mailto:contactus@tradeifok.com">Contact Us</a></div>
                </div>
                <div class="float-right">@*@Html.ActionLink("Contact Us", "Contact", "Home")*@</div>
            </div>
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </body>
</html>
